@media screen and (max-width: 425px) {
    .conteiner {
        justify-content: space-between;
        align-items: center;
        width: 425px;
        height: 100%;
        padding: 1%;
    }

    body {
        padding: 6% 0;
    }

    .card {
        width: 118px;
    }
}  


@media screen and (max-width: 375px) {

    body {
        padding: 6% 0;
    }

    .conteiner {
        justify-content: space-between;
        align-items: center;
        width: 375px;
        height: 100%;
        padding: 1%;
    }
}